* {
  margin: 0;
  padding: 0;
  font-family: "Saira Extra Condensed", sans-serif;
}

body {
  /* Configurações do posicionamento dos elementos pricipais e view*/
  height: auto;
  display: grid;
  grid-template-columns: minmax(300px, 20%) minmax(80%, 1fr);
  grid-template-areas: "sidebar main";

  /* Configurações do backgroud */
  background-image: url("../css/Peyote.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
}

.sidebar-container {
  width: 70%;
}

.sidebar img {
  width: 100%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.img-sidebar {
  width: 100%;
  margin: 3px auto;
  display: flex;
  justify-content: center;
}

.icons-social {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 8px;
  width: 97%;
  border-radius: 5px;
  color: #104a72;
  font-weight: bold;
  font-size: 28px;
  margin: 2px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.55);
  border: 0.1px solid;
}

/*  Animação dos botões do menu  */
.menu a:hover {
  color: white;
  background-image: url("../css/Abstract.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(1.1);
  transition: 0.5s all;
  border: 2px solid #c8f9ff;
}

/*  ícones do menu  */
.icons-social {
  text-align: center;
  margin: 20px auto;
}

.icons-social a {
  text-decoration: none;
  color: white;
  background-color: #104a72;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

.icons-social i{
  width: 100%;
}


/* FIM DAS CONFIGURAÇÕES DA SIDEBAR */

/* Conteúdo  */

.content {
  grid-area: main;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.bg-card {
  width: 90%;
  background-color: white;
  height: auto;
  min-height: 60%;
  margin-left: 50px;
  padding: 30px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.4), rgb(255, 255, 255));   

}

.bg-card p{
  width: 70%;
  font-size: 18px;
  font-weight: bold;
  color: rgb(61, 61, 61);
  text-align: start;
  margin: 20px 10px;


}

div.bg-card h2 > span,
div.bg-card h3 > span,
div.bg-card p > span
{
    color:#1d0979;
}

div.bg-card h3{
    margin-top:15px;
    color: rgb(61, 61, 61);
    font-size: 26px;
}


div.bg-card h2{
  color:rgb(61, 61, 61);
  font-size: 46px;
}
